In [17]:
#import basic Libraries
import pandas as pd
import numpy as np
from tqdm import tqdm

#Visualizaiton imports
import seaborn as sns
import matplotlib.pyplot as plt

#Importing Sklearn
from sklearn.preprocessing import StandardScaler, OneHotEncoder

#Import Market Basket Models
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

%matplotlib inline

In [18]:
#import of all files from the data folder.
aisles = pd.read_csv('./data/aisles.csv')
departments = pd.read_csv('./data/departments.csv')
products = pd.read_csv('./data/products.csv')
order_products__prior = pd.read_csv('./data/order_products__prior.csv')
order_products__train = pd.read_csv('./data/order_products__train.csv')
orders = pd.read_csv('./data/orders.csv')
merged_products_aisles_departments = pd.read_csv('./data/merged_data.csv')
merged_products_aisles_departments = merged_products_aisles_departments.drop('Unnamed: 0', axis=1)

In [19]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
...,...,...,...,...,...,...,...
3421053,2789700,206208,prior,35,3,22,4.0
3421054,844592,206208,prior,36,6,15,10.0
3421055,1541132,206208,prior,37,2,12,3.0
3421056,2808240,206208,prior,38,0,15,19.0
3421057,3027766,206208,prior,39,2,14,9.0
3421058,3356245,206208,prior,40,5,9,10.0
3421059,442304,206208,prior,41,2,14,11.0
3421060,2675140,206208,prior,42,1,19,6.0
3421061,167903,206208,prior,43,4,14,3.0
3421062,2393201,206208,prior,44,6,16,2.0
3421063,3292671,206208,prior,45,2,11,3.0
3421064,3059777,206208,prior,46,1,10,13.0
3421065,2239861,206208,prior,47,3,4,9.0
3421066,1285346,206208,prior,48,1,11,5.0
3421067,1882108,206208,prior,49,1,22,7.0
3421068,803273,206208,test,50,5,11,4.0
3421069,3154581,206209,prior,1,3,11,NaN
3421070,1889163,206209,prior,2,3,17,7.0
3421071,1542354,206209,prior,3,5,11,30.0
3421072,688306,206209,prior,4,1,10,30.0
3421073,2307371,206209,prior,5,4,15,3.0
3421074,3186442,206209,prior,6,0,16,3.0
3421075,550836,206209,prior,7,2,13,9.0
3421076,2129269,206209,prior,8,3,17,22.0
3421077,2558525,206209,prior,9,4,15,22.0
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

# Preprocessing

In [20]:
opt = order_products__train.merge(merged_products_aisles_departments, how='left', on='product_id')

In [21]:
opt.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,foodgroup
0,1,49302,1,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs,diary products and alternatives
1,1,11109,2,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,other creams cheeses,dairy eggs,diary products and alternatives
2,1,10246,3,0,Organic Celery Hearts,83,4,fresh vegetables,produce,vegetables and fruits
3,1,49683,4,0,Cucumber Kirby,83,4,fresh vegetables,produce,vegetables and fruits
4,1,43633,5,1,Lightly Smoked Sardines in Olive Oil,95,15,canned meat seafood,canned goods,others

In [22]:
#converting the id to string to preserve order.
opt['aisle_id']= opt['aisle_id'].astype(str)

In [23]:
#instanciate Oone hot encoder ot break out the data my aisle.
ohe = OneHotEncoder(handle_unknown='ignore')

In [24]:
#test to  see # of aisles
print('# of unique aisles =',len(opt['aisle_id'].unique()))
aisle = ohe.fit_transform(opt['aisle_id'].astype(str).values.reshape(-1,1))

# of unique aisles = 134

In [25]:
#one hot encode the aisles and create a dense matrix.
a_ohe = pd.DataFrame(aisle.toarray())
aisle = a_ohe.to_dense()

In [26]:
aisle.head()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
#add order_id to the one hot encoded matrix
basket = opt[['order_id']].join(aisle)

In [28]:
basket.head()

,order_id,0,1,2,3,4,5,6,7,8,...,124,125,126,127,128,129,130,131,132,133
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
range(len(opt['aisle_id'].unique()))

range(0, 134)

In [30]:
#return the total items in the basket from the aisles
basket = basket.groupby('order_id').sum()

In [31]:
basket.head()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
order_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [32]:
#covert any values to be a binary. 
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)

In [33]:
basket_sets.head()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [34]:
aisle_dict = dict(zip(opt['aisle_id'].unique().astype('Int64'),opt['aisle'].unique()))

/Users/soeunjang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  """Entry point for launching an IPython kernel.

In [35]:
basket_sets.columns = list(range(1,len(aisle_dict)+1))
basket_sets.rename(columns=aisle_dict,inplace=True)

In [36]:
basket_sets.head()

,prepared soups salads,specialty cheeses,energy granola bars,instant foods,marinades meat preparation,other,packaged meat,bakery desserts,pasta sauce,kitchen supplies,...,trail mix snack mix,feminine care,body lotions soap,tortillas flat bread,frozen appetizers sides,hot cereal pancake mixes,dry pasta,beauty,muscles joints pain relief,specialty wines champagnes
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [37]:
#creates conditions for the items in the basket.
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

Apriori is an algorithm for extracting frequent itemsets with applications in association rule learning. The apriori algorithm has been designed to operate on databases containing transactions, such as purchases by customers of a store. An itemset is considered as "frequent" if it meets a user-specified support threshold. For instance, if the support threshold is set to 0.5, a frequent itemset is defined as a set of items that occur together in at least 50% of all transactions in the database.

# Market Basket Results

In [38]:
#creates the rules to filter.
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [39]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(fresh fruits),(fresh herbs),0.550099,0.096868,0.074446,0.135332,1.397072,0.021159,1.044484
1,(fresh herbs),(fresh fruits),0.096868,0.550099,0.074446,0.768529,1.397072,0.021159,1.943656
2,(fresh herbs),(fresh vegetables),0.096868,0.450975,0.083470,0.861684,1.910712,0.039785,3.969343
3,(fresh vegetables),(fresh herbs),0.450975,0.096868,0.083470,0.185088,1.910712,0.039785,1.108256
4,(packaged cheese),(fresh fruits),0.237781,0.550099,0.160911,0.676720,1.230178,0.030108,1.391676

Support is the relatvie frequency that the rules show up.
Confidence is a measure of the reliability of the rule.
Lift is the ratio of the observed support to that expected if the two rules were independet.

In [40]:
#sorts to see the lift greater than or equal to 1
rules[rules['lift'] >= 1.5].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(fresh herbs),(fresh vegetables),0.096868,0.450975,0.083470,0.861684,1.910712,0.039785,3.969343
3,(fresh vegetables),(fresh herbs),0.450975,0.096868,0.083470,0.185088,1.910712,0.039785,1.108256
60,(milk),(yogurt),0.223750,0.253405,0.086991,0.388787,1.534251,0.030292,1.221497
61,(yogurt),(milk),0.253405,0.223750,0.086991,0.343289,1.534251,0.030292,1.182026
78,"(packaged cheese, fresh fruits)",(fresh vegetables),0.160911,0.450975,0.112538,0.699380,1.550816,0.039971,1.826306

# Market Basket for Products

In [41]:
reorders = opt[opt['reordered'] == 1]
#opt[opt['reordered'] == 1]

In [42]:
reorders['product_id'] = reorders['product_id'].astype('int64')

/Users/soeunjang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [43]:
# get list of hi volume products (products that occurr more than 1 time)
hivol = reorders.copy()['product_id'].value_counts().sort_values(ascending=False)\
    [reorders.copy()['product_id'].value_counts().sort_values(ascending=False) > 1].index.tolist()

In [44]:
# mask the reorders dataframe to only incluse dem hi
reorders = reorders[reorders['product_id'].isin(hivol)]

In [45]:
reorders['hi_dem'] = (reorders.copy()['product_id'].value_counts().sort_values(ascending=False)>1)

In [46]:
hidem_ord = reorders[reorders['hi_dem'] == True]

In [47]:
hidem_ord = hidem_ord.reset_index()

In [48]:
print('# of unique products =',len(hidem_ord['product_id'].unique()))
#tranposes the data to ensure that it is correctly fitted.
product = ohe.fit_transform(hidem_ord['product_id'].values.reshape(-1,1))

# of unique products = 4823

In [49]:
p_ohe = pd.DataFrame(product.toarray())
products = p_ohe.to_dense()

In [50]:
basket = hidem_ord[['order_id']].join(products)

In [51]:
#return the total items in the basket from the aisles
basket = basket.groupby('order_id').sum()

In [52]:
#covert any values to be a binary.
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)

In [53]:
pro_dict = dict(zip(hidem_ord['product_id'].unique().astype('Int64'),hidem_ord['product_name'].unique()))

/Users/soeunjang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  """Entry point for launching an IPython kernel.

In [54]:
pro_dict = dict(zip(list(range(0,len(hidem_ord['product_id'].unique()))),hidem_ord['product_name'].unique()))

In [55]:
#rename the columns for easier analysis in rules. 
basket_sets.columns = list(range(0,len(pro_dict)))
basket_sets.rename(columns=pro_dict,inplace=True)

In [56]:
basket_sets.sum().head()

Organic 4% Milk Fat Whole Milk Cottage Cheese    4
Lightly Smoked Sardines in Olive Oil             1
Spring Water                                     6
Cage Free Extra Large Grade AA Eggs              1
Roasted Turkey                                   1
dtype: int64

In [57]:
#creates conditions for the items in the basket.
frequent_itemsets = apriori(basket_sets, min_support=0.0005, use_colnames=True)

In [58]:
#creates the rules to filter.
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [59]:
rules[(rules['lift'] >= 100) & (rules['confidence']>.5)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
46,(Dha Omega 3 Reduced Fat 2% Milk),(Apple Pie),0.000799,0.002131,0.000533,0.666667,312.833333,0.000531,2.993607
83,"(Uncured, No Sugar, Hickory Smoked Bacon)",(Dairy Free Hazelnut Coconut Milk Creamer),0.000533,0.001865,0.000533,1.000000,536.285714,0.000532,inf
85,(Sonoma Traditional Flour Tortillas 10 Count),(Traditional Panettone),0.000799,0.005061,0.000533,0.666667,131.719298,0.000529,2.984816
99,(Restaurant Style Tortilla Rounds),(EnviroKidz Gluten Free & Wheat Free Gorilla M...,0.000799,0.003463,0.000533,0.666667,192.512821,0.000530,2.989611
102,(Organic Large Grade A Brown Eggs),(Diet Ginger Ale),0.000533,0.000799,0.000533,1.000000,1251.333333,0.000532,inf
103,(Diet Ginger Ale),(Organic Large Grade A Brown Eggs),0.000799,0.000533,0.000533,0.666667,1251.333333,0.000532,2.998402
151,(Olive Tapenade Hummus),"(Organic Nonfat Yogurt, Peach)",0.000533,0.009590,0.000533,1.000000,104.277778,0.000528,inf
237,(Original Citrus Sparkling Flavored Soda),(Organic Plain Yogurt),0.000799,0.003197,0.000533,0.666667,208.555556,0.000530,2.990410
242,(Organic White Corn & Wheat Tortillas),(Organic Low Fat Chocolate Milk),0.000533,0.006660,0.000533,1.000000,150.160000,0.000529,inf
246,(Royal Gala Apples),(Sweet Onions),0.000799,0.000533,0.000533,0.666667,1251.333333,0.000532,2.998402
247,(Sweet Onions),(Royal Gala Apples),0.000533,0.000799,0.000533,1.000000,1251.333333,0.000532,inf
393,(Orange & Lemon Flavor Variety Pack Sparkling ...,(Organic Kiwi),0.000799,0.003197,0.000533,0.666667,208.555556,0.000530,2.990410
435,(Rice Krispies Cereal),(Vanilla Bean Light Ice Cream),0.000799,0.001332,0.000533,0.666667,500.533333,0.000532,2.996004
619,(Organic Edamame),(Organic Fat Free Milk),0.000799,0.005860,0.000533,0.666667,113.757576,0.000528,2.982419
627,(Plain Greek Yogurt),(100% Pineapple Juice),0.000533,0.001332,0.000533,1.000000,750.800000,0.000532,inf
731,(Organic Ground Flaxseed),(Havarti Cheese Slices),0.000533,0.002664,0.000533,1.000000,375.400000,0.000531,inf
751,(Moisturizing Lotion),(Organic Traditional Plain Kefir),0.000799,0.001066,0.000533,0.666667,625.666667,0.000532,2.996803
1097,(Green Curry Paste),(Organic Spring Jasmine Green Tea),0.000533,0.002664,0.000533,1.000000,375.400000,0.000531,inf
1109,(Veggie Chips),(Mango Sorbet Pops),0.000533,0.004529,0.000533,1.000000,220.823529,0.000530,inf
1133,(Pizza Poppers Uncured Pepperoni),(Organic Pink Lady (Cripps) Apple),0.000799,0.002664,0.000533,0.666667,250.266667,0.000531,2.992009
1376,(Original Plain Mega Probiotic),(Vanilla Light & Fit Greek Yogurt),0.000533,0.001066,0.000533,1.000000,938.500000,0.000532,inf
1552,(Children's Outrageous Orange Mango Natural Fl...,(Coke Zero Diet Soda),0.000533,0.001332,0.000533,1.000000,750.800000,0.000532,inf
1556,(Mixed Grapes),(Carrots & Potatoes),0.000533,0.000799,0.000533,1.000000,1251.333333,0.000532,inf
1557,(Carrots & Potatoes),(Mixed Grapes),0.000799,0.000533,0.000533,0.666667,1251.333333,0.000532,2.998402
1559,(Mixed Grapes),(Raw Pecan Nut Butter With Cashews),0.000533,0.001066,0.000533,1.000000,938.500000,0.000532,inf
1628,(Whole Grain Crispbread),(Dark Chocolate Acai Blueberry),0.000533,0.008258,0.000533,1.000000,121.096774,0.000528,inf
1822,(Dark Chocolate Peanut Butter Nutrition Bar),(Sliced Peaches),0.000799,0.001066,0.000533,0.666667,625.666667,0.000532,2.996803
1952,(Savory Butter Rolls),(Creamy Coconut & Peanut Spread),0.000533,0.002131,0.000533,1.000000,469.250000,0.000532,inf
2190,(Tofu Scramble Pocket Sandwich),(Oatnut Bread),0.000799,0.000799,0.000533,0.666667,834.222222,0.000532,2.997603
2191,(Oatnut Bread),(Tofu Scramble Pocket Sandwich),0.000799,0.000799,0.000533,0.666667,834.222222,0.000532,2.997603
...,...,...,...,...,...,...,...,...,...
3177,"(Chocolate Almond Crunch Ice Cream, Chocolate ...",(Milk Chocolate English Toffee Miniatures Cand...,0.000533,0.001066,0.000533,1.000000,938.500000,0.000532,inf
3181,"(Chocolate Almond Crunch Ice Cream, Milk Choco...",(Chocolate Chip Cookie Dough Frozen Greek Yogu...,0.000533,0.001066,0.000533,1.000000,938.500000,0.000532,inf
3182,"(Chocolate Almond Crunch Ice Cream, Fully Cook...",(Chocolate Chip Cookie Dough Frozen Greek Yogu...,0.000799,0.000533,0.000533,0.666667,1251.333333,0.000532,2.998402
3183,(Chocolate Chip Cookie Dough Frozen Greek Yogu...,"(Chocolate Almond Crunch Ice Cream, Fully Cook...",0.000533,0.000799,0.000533,1.000000,1251.333333,0.000532,inf
3185,"(Fully Cooked Turkey Sausage Patties, Milk Cho...","(Chocolate Almond Crunch Ice Cream, Chocolate ...",0.000799,0.004795,0.000533,0.666667,139.037037,0.000529,2.985615
3192,"(100% Recycled White Paper Towels, Orange Mang...",(Kiwi Sandia Sparkling Water),0.000533,0.002131,0.000533,1.000000,469.250000,0.000532,inf
3194,"(100% Recycled White Paper Towels, Kiwi Sandia...","(Multi Grain Sandwich Thins, Orange Mango Chic...",0.000533,0.004262,0.000533,1.000000,234.625000,0.000530,inf
3195,"(100% Recycled White Paper Towels, Orange Mang...","(Multi Grain Sandwich Thins, Kiwi Sandia Spark...",0.000533,0.000533,0.000533,1.000000,1877.000000,0.000532,inf
3197,"(Kiwi Sandia Sparkling Water, Orange Mango Chi...","(100% Recycled White Paper Towels, Multi Grain...",0.000799,0.003729,0.000533,0.666667,178.761905,0.000530,2.988812
3198,"(Multi Grain Sandwich Thins, Kiwi Sandia Spark...","(100% Recycled White Paper Towels, Orange Mang...",0.000533,0.000533,0.000533,1.000000,1877.000000,0.000532,inf
3207,"(Chocolate Almond Crunch Ice Cream, Honey Nut ...",(Ultra Thin Oven Roasted Turkey Breast),0.000799,0.005594,0.000533,0.666667,119.174603,0.000528,2.983218
3208,"(Ultra Thin Oven Roasted Turkey Breast, Honey ...","(Chocolate Almond Crunch Ice Cream, Chocolate ...",0.000799,0.004795,0.000533,0.666667,139.037037,0.000529,2.985615
3209,"(Ultra Thin Oven Roasted Turkey Breast, Chocol...","(Chocolate Almond Crunch Ice Cream, Honey Nut ...",0.000799,0.003729,0.000533,0.666667,178.761905,0.000530,2.988812
3221,"(Orange Mango Chicken, Berry Punch Flavored Fr...",(Asparation/Broccolini/Baby Broccoli),0.000533,0.007459,0.000533,1.000000,134.071429,0.000529,inf
3222,"(Asparation/Broccolini/Baby Broccoli, Berry Pu...","(Orange Mango Chicken, Cream Cheese)",0.000799,0.001865,0.000533,0.666667,357.523810,0.000531,2.994406
3223,"(Asparation/Broccolini/Baby Broccoli, Orange M...","(Berry Punch Flavored Fruit Drink, Cream Cheese)",0.000799,0.002131,0.000533,0.666667,312.833333,0.000531,2.993607
3224,"(Asparation/Broccolini/Baby Broccoli, Cream Ch...","(Orange Mango Chicken, Berry Punch Flavored Fr...",0.000799,0.003197,0.000533,0.666667,208.555556,0.000530,2.990410
3239,"(Stringless Sugar Snap Peas, Chocolate Chip Co...","(Chocolate Almond Crunch Ice Cream, Light Sour...",0.000533,0.003463,0.000533,1.000000,288.769231,0.000531,inf
3240,"(Stringless Sugar Snap Peas, Light Sour Cream)","(Chocolate Almond Crunch Ice Cream, Chocolate ...",0.000799,0.004795,0.000533,0.666667,139.037037,0.000529,2.985615
3246,"(Medium Roast Ground Coffee, Chocolate Almond ...",(Raspberry Lime Sparkling Seltzer Water),0.000533,0.006926,0.000533,1.000000,144.384615,0.000529,inf
3249,"(Chocolate Almond Crunch Ice Cream, 0% Fat Blu...",(Medium Roast Ground Coffee),0.000533,0.001066,0.000533,1.000000,938.500000,0.000532,inf
3250,"(Medium Roast Ground Coffee, Chocolate Almond ...","(0% Fat Blueberry Greek Yogurt, Raspberry Lime...",0.000533,0.000799,0.000533,1.000000,1251.333333,0.000532,inf
3251,"(Medium Roast Ground Coffee, 0% Fat Blueberry ...","(Chocolate Almond Crunch Ice Cream, Raspberry ...",0.000533,0.001598,0.000533,1.000000,625.666667,0.000532,inf
3252,"(Medium Roast Ground Coffee, Raspberry Lime Sp...","(Chocolate Almond Crunch Ice Cream, 0% Fat Blu...",0.000533,0.001332,0.000533,1.000000,750.800000,0.000532,inf
3255,"(0% Fat Blueberry Greek Yogurt, Raspberry Lime...","(Medium Roast Ground Coffee, Chocolate Almond ...",0.000799,0.000533,0.000533,0.666667,1251.333333,0.000532,2.998402
3262,"(French Beans, Berry Punch Flavored Fruit Drin...",(Caesar Supreme Salad Kit),0.000533,0.000799,0.000533,1.000000,1251.333333,0.000532,inf
3264,"(Caesar Supreme Salad Kit, Berry Punch Flavore...","(French Beans, Cream Cheese)",0.000533,0.001598,0.000533,1.000000,625.666667,0.000532,inf
3267,"(Caesar Supreme Salad Kit, French Beans)","(Berry Punch Flavored Fruit Drink, Cream Cheese)",0.000533,0.002131,0.000533,1.000000,469.250000,0.000532,inf
3268,"(Caesar Supreme Salad Kit, Cream Cheese)","(French Beans, Berry Punch Flavored Fruit Drink)",0.000533,0.002930,0.000533,1.000000,341.272727,0.000531,inf
3271,(Caesar Supreme Salad Kit),"(French Beans, Berry Punch Flavored Fruit Drin...",0.000799,0.000533,0.000533,0.666667,1251.333333,0.000532,2.998402

In [60]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Honey Nut Chex Cereal),(Spring Water),0.033564,0.001598,0.000533,0.015873,9.931217,0.000479,1.014505
1,(Spring Water),(Honey Nut Chex Cereal),0.001598,0.033564,0.000533,0.333333,9.931217,0.000479,1.449654
2,(Organic Sliced Provalone Cheese),(Light Sour Cream),0.001332,0.039158,0.000533,0.400000,10.214966,0.000481,1.601403
3,(Light Sour Cream),(Organic Sliced Provalone Cheese),0.039158,0.001332,0.000533,0.013605,10.214966,0.000481,1.012443
4,"(Liquid Laundry Detergent, Original scent)",(Organic Sliced Provalone Cheese),0.008791,0.001332,0.000533,0.060606,45.503030,0.000521,1.063098